.main{
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 420px;
    width: 500px;
    background-color: black;
    border: 2px solid white;
    color: white;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
}

#ques{
    font-size: larger;
    padding: 10px;
    margin : 10px;
}

.opts{
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: large;
}

.button{
    width: 250px;
    margin: auto;
}